In [55]:
%pip install beautifulsoup4
%pip install requests
%pip install pandas

Requirement already satisfied: beautifulsoup4 in c:\users\vikto\appdata\local\programs\python\python38-32\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\vikto\appdata\local\programs\python\python38-32\lib\site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests in c:\users\vikto\appdata\local\programs\python\python38-32\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\vikto\appdata\local\programs\python\python38-32\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vikto\appdata\local\programs\python\python38-32\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\vikto\appdata\local\programs\python\python38-32\lib\site-packages (from requests) (2.2.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vikto\appdata\local\programs\python\python38-32\lib\site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\vikto\appdata\local\programs\python\python38-32\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vikto\appdata\roaming\python\python38\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\vikto\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\vikto\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.20.3 in c:\users\vikto\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in c:\users\vikto\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [56]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [57]:
url = 'https://www.finn.no/realestate/homes/ad.html?finnkode=339337279'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html')

In [58]:
titles = soup.find_all('dt')
print(titles)

[<dt class="m-0">Totalpris</dt>, <dt class="m-0">Omkostninger</dt>, <dt class="m-0">Felleskost/mnd.</dt>, <dt class="m-0">Kommunale avg.</dt>, <dt class="m-0">Eiendomsskatt</dt>, <dt class="m-0">Formuesverdi</dt>, <dt class="m-0">Boligtype</dt>, <dt class="m-0">Eieform</dt>, <dt class="m-0">Soverom</dt>, <dt class="m-0">Internt bruksareal</dt>, <dt class="m-0">Bruksareal</dt>, <dt class="m-0">Eksternt bruksareal</dt>, <dt class="m-0">Balkong/Terrasse</dt>, <dt class="m-0">Byggeår</dt>, <dt class="m-0">Energimerking</dt>, <dt class="m-0">Rom</dt>, <dt class="m-0">Tomteareal</dt>]

In [59]:
stripped_titles = [title.text.strip() for title in titles]
print(stripped_titles)

['Totalpris', 'Omkostninger', 'Felleskost/mnd.', 'Kommunale avg.', 'Eiendomsskatt', 'Formuesverdi', 'Boligtype', 'Eieform', 'Soverom', 'Internt bruksareal', 'Bruksareal', 'Eksternt bruksareal', 'Balkong/Terrasse', 'Byggeår', 'Energimerking', 'Rom', 'Tomteareal']

In [60]:
df = pd.DataFrame(columns=stripped_titles)
df

Empty DataFrame
Columns: [Totalpris, Omkostninger, Felleskost/mnd., Kommunale avg., Eiendomsskatt, Formuesverdi, Boligtype, Eieform, Soverom, Internt bruksareal, Bruksareal, Eksternt bruksareal, Balkong/Terrasse, Byggeår, Energimerking, Rom, Tomteareal]
Index: []

In [61]:
column_data = soup.find_all('dd')

In [62]:
individual_row_data = []
for data in column_data:
    text = data.text.strip()
    
    pattern = r'\d+'
    if (re.search(pattern, text)):
        numbers = ' '.join(re.findall(r'\d+', text))
        individual_row_data.append(numbers)
    else: 
        individual_row_data.append(text)
length = len(df)
df.loc[length] = individual_row_data

In [63]:
df

,Totalpris,Omkostninger,Felleskost/mnd.,Kommunale avg.,Eiendomsskatt,Formuesverdi,Boligtype,Eieform,Soverom,Internt bruksareal,Bruksareal,Eksternt bruksareal,Balkong/Terrasse,Byggeår,Energimerking,Rom,Tomteareal
0,9 123 500,223 500,1 290,20 642,4 583,2 071 785,Rekkehus,Eier (Selveier),2,122,124,2,27,1980,F - Rød,4,146

<h1>Adding more data from Finn with same structure</h1>